* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

body {
  min-width: 1024px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.container{
  max-width: 1280px;
  min-width: 1024px;
  width: 100% !important;
  padding: 30px;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}